<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>PetMates</title>
</head>
{% include "header.html" %}
<body>
    <form class="box" method="POST"> {% csrf_token %}
        <fieldset>
        <legend>Регистрация</legend>
        <input type="text" name="first_name-name" id="fist_name-id" placeholder="Имя" required>
        <input type="text" name="last_name-name" id="last_name-id" placeholder="Фамилия" required>
        <input type="text" name="username-name" id="username-id" placeholder="Логин" required>
            {% if email_taken %}
                <legend>Этот e-mail адрес занят</legend>
            {% endif %}
        <input type="password" name="password-name" id="password-id" placeholder="Пароль" required>
        <div class="half-width">
            <button type="reset">Сбросить</button>
        </div>
        <div class="half-width">
            <button type="submit">Зарегистрироваться</button>
        </div>
        </fieldset>
    </form>
</body>
{% include "footer.html" %}
</html>